/* TITRE */

.adminTitre {
    display: flex;
    flex-direction: column;
}

.adminTitre h1 {
    margin: 15px;
}

.adminTitre form input {
    margin-left: 15px;
    padding: 5px 10px;
    
    background: RGBA(253, 0, 63, 0.5);

    border-radius: 16px;
    border: 2px solid var(--danger);
}

.adminTitre form button {
    padding: 5px 10px;
    
    border-radius: 16px;
    border: 2px solid var(--secondary);
    
    cursor: pointer;

    transition: .3s;
}

.adminTitre form button:hover {
    background-color: var(--tertiary);

    transition: .3s;
}

.adminTitre p {
    margin: 15px;
}

.adminTitre p a {
    padding: 5px 10px;
    
    border: 2px solid var(--succes);
    border-radius: 16px;
    
    color: var(--succes);

    transition: .3s;
}

.adminTitre p a:hover {
    background-color: var(--primary100);

    transition: .3s;
}

.adminTitre form input, .adminTitre form button, .adminTitre a {
    backdrop-filter: blur(5px);
}

/* TABLE */

.adminTable {
    display: flex;
    flex-direction: column;
}

table {
    margin: 15px;
    
    background: var(--tertiary);
    
    border: 2px solid var(--secondary);
    border-radius: 16px;
    overflow: clip;
}

th, td {
    padding: 10px;
    text-align: left;
    flex: 1;
}

tr:nth-child(even) {
    color: var(--primary);
    background-color: var(--tertiary400);
}

tr {
    display: flex;

    background-color: var(--tertiary);
}

tr:hover {
    background: var(--primary);
    color: var(--accent);
}

/* Pagination */

.pagination {
    margin-left: 15px;
}

.pagination a {
    margin: 5px;
    padding: 5px 10px;

    background: var(--tertiary);
    border-radius: 16px;

    transition: .3s;
}

.pagination a.active, .pagination a:hover {
    background: var(--secondary);
    color: var(--primary);

    transition: .3s;
}

/* Creation / Modification */

.adminForms {
    margin: 20px 15px;
}

.adminForms form {
    border-radius: 16px;
    border: 2px solid var(--secondary);

    padding: 7px 0 7px 5px;

    background: var(--tertiary);
}

.adminForms form label {
    padding: 3px 15px;
    margin: 5px 0;

    background: var(--secondary);
    color: var(--primary);

    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}


.adminForms form input {
    padding: 3px 15px;
    margin: 5px 5px 5px -5px;
    
    background: var(--tertiary400);
    color: var(--primary);

    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.adminForms form input.submit {
    padding: 3px 0 3px 15px;
    margin: 5px;
    
    background: var(--tertiary400);
    color: var(--primary);
    
    border: 2px solid var(--succes);
    border-radius: 16px;
}