:root {
    --primary : #151922 ;
    --primary100 : #32363E ;
    --primary200 : #505359 ;
    --primary300 : #505359 ;
    --primary400 : #8A8C91 ;

    --Secondary : #FFB433 ;
    --Secondary100 : #FFBD4D ;
    --Secondary200 : #FFC766 ;
    --Secondary300 : #FFD080 ;
    --Secondary400 : #FFDA99 ;

    --tertiary : #202E46 ;
    --tertiary100 : #3C485D ;
    --tertiary200 : #586274 ;
    --tertiary300 : #747C8B ;
    --tertiary400 : #9096A3 ;

    --accent : #CFCFCF ;
    --succes : #29E330 ;
    --danger : #FD003F ;

}


* {
    all:unset; /* Compatible partout I guess. */
}

head {
    display: none;
}

/**
* BODY
*/

body {
    background-color: var(--primary);
}



/**
* Nav
*/

nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px 5%;
    margin-bottom: 25px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
}

nav ul {

}

/*Gauche*/

nav ul#navbar {

}

/*Droite*/
nav ul#userbar {

}


nav li {

}

