@font-face {
    font-family: "Lexend";
    src: url(../font/Lexend-VariableFont_wght.ttf);
}

:root {
    --primary : #151922 ;
    --primary100 : #32363E ;
    --primary200 : #505359 ;
    --primary300 : #505359 ;
    --primary400 : #8A8C91 ;

    --Secondary : #FFB433 ;
    --Secondary100 : #FFBD4D ;
    --Secondary200 : #FFC766 ;
    --Secondary300 : #FFD080 ;
    --Secondary400 : #FFDA99 ;

    --tertiary : #202E46 ;
    --tertiary100 : #3C485D ;
    --tertiary200 : #586274 ;
    --tertiary300 : #747C8B ;
    --tertiary400 : #9096A3 ;

    --accent : #CFCFCF ;
    --succes : #29E330 ;
    --danger : #FD003F ;


    --transition-03 : .3s;
}

* {
    all:unset; /* Compatible partout I guess. */
}

head {
    display: none;
}

/**
* BODY
*/

body {
    background-color: var(--primary);
    color: var(--accent);

    font-family: "Lexend", sans-serif;
    font-weight: normal;
}


/**
* Hover
*/

a:-webkit-any-link {
    cursor: pointer;
}


/**
* Nav
*/

nav {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px 5px;
    margin-bottom: 25px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
}

nav ul {
    font-size: 24px;
    font-weight: 400;
}

/*Gauche*/

nav ul#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-content: center;
}

/*Droite*/
nav ul#userbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-content: center;
}

/* On cache les boutons profil & admin par default. on gèrera ça dans le JS. */
nav ul li.admin, nav ul li.profil {
    display: none;
}

nav ul li.pfp, nav ul li img {
    padding: 0;
    max-height: 45px;
    max-width: 45px;

    border-radius: 64px;
    overflow: clip;
}

/* general */

nav li {
    background-color: var(--primary);

    padding: 3px 25px;
    margin: 0 3px;
    
    border-radius: 32px;
    border: 3px solid var(--accent);
    
    align-self: center;

    transition: var(--transition-03) ;
}

nav li:hover {
    transition: var(--transition-03);
}

nav li.active, nav li:hover {
    background-color: var(--accent);
    color: var(--tertiary);
}

nav li.admin {
    border: 3px solid var(--danger);
}

nav li.admin:hover {
    background-color: var(--danger);
}
