main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TOP */

.top {
    display: flex;
    flex-direction: column;
}

.top h1, .top p {
    margin: 15px;
}

/* JEUX */

.jeux  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.caroussel {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caroussel span {
    cursor: pointer;

    border-radius: 32px;
    padding: 5px 10px;
    margin: 15px 0 0 0;

    border: 2px solid var(--secondary);
    transition: .3s;
}

.caroussel span:hover {
    background-color: var(--tertiary);
    border-color: var(--secondary);
    color: var(--succes);

    transition: .3s;
}

/* TABLE (classements) */

table {
    margin: 15px 0;

    max-height: 770px;
    max-width: 385px;
    border-radius: 16px;

    overflow-y: scroll;
    overflow-x: clip;

    backdrop-filter: blur(5px);

    scrollbar-color: var(--secondary) rgba(255,255,255,.25);
    scrollbar-gutter: none;
}

td:hover {
    background: var(--primary);
    color: var(--accent);
}


.caroussel td .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 








*/

.caroussel {
    margin-bottom: 32px;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.caroussel tr{
    margin: 0 0 25px 0;

    display: flex;
    flex-direction: column;
    
    background: #202e4680;
    backdrop-filter: blur(5px);
    
    border-radius: 32px;
    max-width: 95vw;
    
    overflow-y: scroll;
    scrollbar-color: var(--secondary) var(--primary);
    scrollbar-gutter: auto;
    scrollbar-width: none;
}

.caroussel td{
    margin: 10px;
    padding: 10px;

    background: rgba(0,0,0, 50%);
    
    border-radius: 32px;

    min-height: 345px;
    min-width: 245px;

    position: relative;
}

.backBlur {
    min-height: 100%;
    min-width: 100%;
    filter: blur(150px);
    position: relative;
    z-index: -1;
}

.caroussel tr td t{
    position: absolute;
    top: 20px;
    left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 325px;
    width: 200px;
}

.caroussel tr td p {
    font-size: larger;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--secondary);

    max-width: 200px;
    overflow: clip;
}

.caroussel tr td span {
    border-radius: 32px;
    border: 2px solid var(--succes);

    padding: 5px 10px;

    align-self: center;

    transition: var(--transition-03);
}

.caroussel tr td span:hover {
    border-color: var(--secondary);
    background-color: rgba(0,0,0, 50%);
}


.vert {
    background: mediumspringgreen;
}

.bleu {
    background: var(--tertiary400);
}

/* Bouton */
.bouton {
    background-color: var(--primary);

    margin: 0 3px;
    border-radius: 32px;
    align-self: center;
    transition: var(--transition-03);
    padding: 3px 10px;
}

.bouton:hover {
    transition: var(--transition-03);
    color: var(--tertiary);
}
