main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TOP */

.top {
    display: flex;
    flex-direction: column;
}

.top h1, .top p {
    margin: 15px;
}

/* content */

.jeux {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90vw;
    min-height: 75vh;
}

.jeux table {
    padding: 10px;
    margin-right: 10px;

    background: rgba(21, 25, 34, 0.125);
    border-radius: 16px;
    border: 2px solid var(--secondary);

    backdrop-filter: blur(5px);

    overflow-x: scroll;
    min-width: 220px;
    max-width: 220px;
}

.jeux table tr {
    display: flex;
    flex-direction: column;
}

.jeux table tr td {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    margin-bottom: 15px;

    background: RGBA(32, 46, 70, 0.5);
    border-radius: 16px;
    box-shadow: 3px 3px 3px var(--tertiary100);
    backdrop-filter: blur(5px);

    cursor: pointer;

    transition: .3s;
}

.jeux table tr td:hover, .jeux table tr td.active {
    box-shadow: 3px 3px 3px var(--succes);

    transition: .3s;
}

.jeux table tr td:hover span, .jeux table tr td.active span {
    background: var(--succes);
    
    transition: .3s;
}

.jeux table tr td span {
    background: var(--secondary);
    color: var(--primary);
    
    padding: 3px 5px;
    margin-top: 5px;
    
    border-radius: 16px;

    transition: .3s;
}

.jeux table tr td div img{
    top: 6px;
    position: relative;
}


/* DESCRIPTION */

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background: RGBA(144, 150, 163, 0.25);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    padding: 10px;
    border: 2px solid var(--accent);

    width: 100%;
}

.description .contenu {
    display: flex;
    flex-direction: row;
    margin: 10px 0;

    justify-content: flex-end;
}

.description .contenu img {
    max-width: 500px;
    border-radius: 100%;
    overflow: clip;
}

.description .bouton {
    margin-top: 5px;
    padding: 15px 5px;

    border-radius: 16px;

    background: var(--tertiary400);
    color: var(--primary);

    text-align: center;

    cursor: pointer;

    width: 48%;

    transition: .3s;
}

.description .bouton:hover {
    background-color: var(--secondary);

    transition: .3s;
}

.description p {
    text-align: justify;
    float: left;
    width: 100%;
}

.boutons {
    display: flex;
    justify-content: space-between;
}

.jaime:hover {
    background-color: var(--succes) !important;
}
