body{
  overflow: hidden;
}

h2{
  margin-top: 20px;
  text-decoration: none;
  font-size: 30px;
  color: white;
}

.hidden{
  display: none !important;
}

.pointer{
  cursor: pointer;
}

main{
  margin-top: 5vh;
  display: flex;
  height: 80vh;
  align-items: center;
}

.big_container{
  width: 33%;
  height: 100%;
}

.pfp{

  padding: 0;

  max-height: 150px;
  max-width: 150px;

  border-radius: 100px;
  overflow: clip;

}
/*---------- right/left ----------*/

#right,#left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#player1,#player2{
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #141A27;

  box-shadow: 10px 10px 10px rgba(0, 0, 0, .25),
              10px -10px 10px rgba(0, 0, 0, .25),
              -10px 10px 10px rgba(0, 0, 0, .25),
              -10px -10px 10px rgba(0, 0, 0, .25);
}


.container_coup{
  background-color: var(--tertiary100);
  width: 150px;
  height: 150px;

  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container_coup img{
  width: 100px;
  height: 100px;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#score_player1{
  margin-top: 20px;
  text-decoration: none;
  font-size: 30px;
  color: var(--secondary);

  border-bottom: solid 2px var(--secondary);
  padding-right: 20px;
  padding-left: 20px;
}

/*---------- center ----------*/

#center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*----------  ----------*/


